.hero {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 6rem 2rem 100px 2rem;
  background-color: #378e47;
  position: relative;
  overflow: hidden;
}
.hero::after {
  content: "";
  position: absolute;
  display: block;
  z-index: 1;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 200%;
  height: 200px;
  background-color: white;
  border-radius: 50% 50% 0 0 / 100% 100% 0 0;
}
.hero-title {
  font-size: 3rem;
  font-weight: 600;
  max-width: 40rem;
  line-height: 1.2;
  color: #f7931e;
}
.hero-subtitle {
  font-size: 1.25rem;
  color: white;
  max-width: 32rem;
  margin-top: 1.5rem;
  line-height: 1.6;
}
.hero-logo {
  width: 150px;
  height: auto;
  margin-bottom: 2rem;
  border-radius: 9999px;
}
.hero-buttons {
  display: flex;
  flex-direction: row;
  gap: 1.5rem;
  margin-top: 3.5rem;
  position: relative;
  z-index: 2;
}
.hero-buttons .btn {
  padding: 1rem 2rem;
  font-size: 1.2rem;
  border-radius: 9999px;
  cursor: pointer;
  transition: all 0.3s ease;
  background-color: #f7931e;
}
.primary-btn {
  background-color: white;
  color: #111;
  border: 1px solid #ccc;
}
.primary-btn:hover {
  background-color: #378e47;
  color: white;
}
.secondary-btn {
  background-color: white;
  color: #111;
  border: 1px solid #ccc;
}
.secondary-btn:hover {
  background-color: #378e47;
  color: white;
}
.features {
  padding: 4rem 2rem 8rem 2rem;
  max-width: 1400px;
  margin: 0 auto;
}
.features-grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 2rem;
}
.feature-card {
  border-radius: 2rem;
  padding: 2rem;
  transition: all 0.3s ease;
  max-width: 1000px;
}

.feature-title {
  font-size: 2rem;
  font-weight: 700;
  color: #f7931e;
  display: flex;
  justify-content: center;
  align-items: center;
}
.feature-desc {
  color: #378e47;
  margin-top: 0.75rem;
  line-height: 1.6;
  display: flex;
  justify-content: center;
  align-items: center;
}
.tray {
  width: 20rem;
  height: 20rem;
  background-color: rgb(248, 248, 248);
  border-radius: 50%;
  box-shadow: 0 8px 24px rgba(0, 0, 0, 0.2);
  margin-top: 7rem;
  margin-left: auto;
  margin-right: auto;
}
.plate {
  width: 18rem;
  height: 18rem;
  background: #fff;
  border-radius: 50%;
  box-shadow: 0 8px 24px rgba(0, 0, 0, 0.8);
  animation: animatePlate 30s linear forwards infinite;
  align-self: center;
}
.tray .plate {
  position: relative;
}

@keyframes animatePlate {
  to {
    transform: rotate(360deg);
  }
}
.plate .food {
  width: 30rem;
  height: 30rem;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  overflow: hidden;
  border-radius: 50%;
}
