.hero {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 6rem 2rem 100px 2rem;
  background-color: #f7931e;
  position: relative;
  overflow: hidden;
}
.hero::after {
  content: "";
  position: absolute;
  display: block;
  z-index: 1;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 200%;
  height: 200px;
  background-color: #378e47;
  border-radius: 50% 50% 0 0 / 100% 100% 0 0;
}
.hero-title {
  font-size: 3rem;
  font-weight: 600;
  max-width: 40rem;
  line-height: 1.2;
  color: white;
}
.hero-subtitle {
  font-size: 1.25rem;
  color: white;
  max-width: 32rem;
  margin-top: 1.5rem;
  line-height: 1.6;
}
.hero-logo {
  width: 150px;
  height: auto;
  margin-bottom: 2rem;
  border-radius: 9999px;
}
.hero-buttons {
  display: flex;
  flex-direction: row;
  gap: 1.5rem;
  margin-top: 3.5rem;
  position: relative;
  z-index: 2;
}
.hero-buttons .btn {
  padding: 0.75rem 2rem;
  font-size: 1rem;
  border-radius: 9999px;
  cursor: pointer;
  transition: all 0.3s ease;
}
.primary-btn {
  background-color: white;
  color: #111;
  border: 1px solid #ccc;
}
.primary-btn:hover {
  background-color: #f7931e;
  color: white;
}
.secondary-btn {
  background-color: white;
  color: #111;
  border: 1px solid #ccc;
}
.secondary-btn:hover {
  background-color: #f7931e;
  color: white;
}
.features {
  padding: 4rem 2rem 8rem 2rem;
  max-width: 1200px;
  margin: 0;
}
.features-grid {
  display: grid;
  grid-template-columns: 1fr;
  gap: 2rem;
}
.feature-card {
  background-color: #fff;
  border: 1px solid #eee;
  border-radius: 2rem;
  padding: 2rem;
  transition: all 0.3s ease;
  max-width: 1000px;
}
.feature-card:hover {
  box-shadow: 0 8px 24px rgba(247, 147, 30, 0.8);
}
.feature-title {
  font-size: 1.25rem;
  font-weight: 500;
}
.feature-desc {
  color: #666;
  margin-top: 0.75rem;
  line-height: 1.6;
}
.tray {
  width: 50rem;
  height: 50rem;
  background-color: rgba(245, 245, 245, 0.884);
  border-radius: 50%;
  box-shadow: 0 8px 24px rgba(0, 0, 0, 0.2);
  position: absolute;
  top: 65%;
  right: 10rem;
  transform: translateY(5%);
}
.plate {
  position: absolute;
  top: 13%;
  right: 13%;
  width: 38rem;
  height: 38rem;
  background: #fff;
  border-radius: 50%;
  box-shadow: 0 8px 24px rgba(0, 0, 0, 0.8);
  animation: animatePlate 30s linear forwards infinite;
}

@keyframes animatePlate {
  to {
    transform: rotate(360deg);
  }
}
.plate .food {
  width: 30rem;
  height: 30rem;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  overflow: hidden;
  border-radius: 50%;
}
